@import "../../../common/scss/mixin.scss";
@import "../../../common/scss/variables.scss";

.container {
  @include block (block, relative, -3.5vw, '', 100%, 45vw);
  margin: auto;
  background-image: url("../../../../src/common/img/bg.png");
  background-size: contain;
  background-repeat: no-repeat; 
  background-position:  100% 50%;
  .block-h1 {
    @include block (inline-block, relative, 10vw, 10vw, '', '');
    @include font (Stapel, 5.75vw, bold, normal, 2.46vw, $primary);
  }
  .block-button {
    @include block (block, relative, 10vw, 10vw, '', '');
    @include font (Raleway, 1.83vw, bold, normal, 2.04vw, $quaternary);
    padding: 0.5vw;
    background-color: $secondary;
    border-radius: 0.5vw;
    border: 0.05vw solid $quaternary;
    cursor: pointer;
    &:active {
      background-color: $tertiary;
      border-color: $tertiary;
      color: $secondary;
    }
    @media (hover) {
      &:hover {
        background-color: $tertiary;
        border-color: $tertiary;
        color: $secondary;
      }
    }
  }
}