@import "../../../common/scss/function.scss";
@import "../../../common/scss/mixin.scss";
@import "../../../common/scss/variables.scss";

.container {
  @include block (flex, relative, '', '', 100%, size(358));
  overflow: hidden;
  .block-div {
    @include block (flex, relative, '', '', 80%, size(358));
    margin: auto;
    @media screen and (min-width: 731px) {
      justify-content: space-between; 
    }
    @media screen and (max-width: 730px) {
      justify-content: center; 
    }
  }
  .block-button__left, .block-button__right {
    @include block (block, relative, '', '', size(41), size(41));
    @include font (Stapel, size(13), normal, normal, size(5), $primary);
    border-radius: size(41);
    background-color: $secondary;
    border: 0.1vw solid $quaternary;
    z-index: 1;
    cursor: pointer;
    &:active {
      background-color: $tertiary;
      border-color: $tertiary;
      color: $secondary;
    }
    @media (hover) {
      &:hover {
        background-color: $tertiary;
        border-color: $tertiary;
        color: $secondary;
      }
    }
  }
  .block-button__left {
    @media screen and (min-width: 731px) {
      top: 27vw;
      left: 25vw;
    }
    @media screen and (max-width: 730px) {
      top: 5vw;
      left: 37vw;
    }
  }
  .block-button__right {
    @media screen and (min-width: 731px) {
      top: 27vw;
      left: -25vw;
    }
    @media screen and (max-width: 730px) {
      top: 5vw;
      left: -37vw;
    }
  }
  .item0, .item2 {
    @include block (block, relative, '', '', 25%, size(358));
    overflow: hidden;
  }
  .item1 {
    @include block (block, relative, '', '', 40%, size(358));
    overflow: hidden;
  }
  .subItem0, .subItem2 {
    position: relative;
    top: 3vw;
    width: auto;
    height: size(165);
  }
  .subItem0 {
    left: size(-82);
  }
  .subItem2 {
    left: size(-51);
  }
  .subItem1 {
    position: relative;
    top: 1vw;
    left: size(-90);
    width: auto;
    height: size(308);
  }
  .item {
    position: relative;
    top: 7vw;
    width: auto;
    height: size(360);
  }
}
.container-err, .container-load {
  @include block (block, relative, '', '', 100%, 20vw);
  margin: auto;
  text-align: center;
  .block-err, .block-load {
    @include block (inline-block, relative, 5vw, '', '', '');
    @include font (Stapel, size(26), bold, normal, size(25), $primary);
  }
}