@import "../../../common/scss/mixin.scss";
@import "../../../common/scss/variables.scss";

.container {
  @include block (block, relative, '', '', 100%, 2vw);
  margin-left: auto;
  margin-right: 0;
  border-top: 0.1vw solid $fivefold;
}