@import "../../../common/scss/mixin.scss";
@import "../../../common/scss/variables.scss";

.block-nav {
  @include block (block, relative, '', '', 80vw, auto);
  margin: 0.5vw auto;
  text-align: center;
  z-index: 1;
  .item {
    @include font (Raleway, 2.25vw, normal, normal, 2.46vw, $primary);
    padding: 0 2vw;
    text-decoration: none;
    &:active {
      color: $tertiary;
    }
    @media (hover) {
      &:hover {
        color: $tertiary;
      }
    }
  }
}