@import "../../../common/scss/mixin.scss";
@import "../../../common/scss/variables.scss";

.container {
  @include block (block, relative, '', '', 99%, 12vw);
  box-shadow: rgba(0, 0, 0, 0.45) 0 5vw 4.5vw -4.5vw;
  z-index: 10;
  .block-h1 {
    @include block (block, relative, 1vw, 1vw, 100%, 12vw);
    @include font (Stapel, 10.12vw, normal, bold, 8.44vw, $primary);
    padding: 0;
    margin: 0;
  }
  .block-icon {
    @include block (block, relative, -11vw, 88vw, 10vw, 10vw);
    fill: $primary;
  }
  .block-nav {
    @include block (flex, relative, -10vw, '', 100%, auto);
    flex-direction: column;
    flex-basis: 100%;
    background-color: $secondary;
    margin: auto;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.45) 0 5vw 4.5vw -4.5vw;
    z-index: 5;
    .item {
      @include font (Raleway, 8.22vw, normal, normal, 10.59vw, $primary);
      padding: 4vw 4vw;
      text-decoration: none;
      &:active {
        color: $tertiary;
      }
      @media (hover) {
        &:hover {
          color: $tertiary;
        }
      }
    }
  }
}

