$screenResolution: (480px, 1024px);

$primary:    #000000;
$secondary:  #FFFFFF;
$tertiary:   #F63765;
$quaternary: #0D0D0D;
$fivefold:   #6e6c6c;


@font-face {
  font-family: 'Stapel';
  src:  
    url('../fonts/Stapel-Bold.ttf') format('truetype'), 
    url('../fonts/Stapel-Bold.woff') format('woff'), 
    url('../fonts/Stapel-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  src: 
    url('../fonts/Ralewaythin.ttf') format('truetype'), 
    url('../fonts/Ralewaythin.woff') format('woff'), 
    url('../fonts/Ralewaythin.woff2') format('woff2');
}